@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ===== general styling =====  */
*::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

*::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #898989;
}

*::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background-color: #ababab;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  opacity: 0.8;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* loading spinner  */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 30px;
  height: 30px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
